.form {
  justify-content: space-around;
  display: flex;
  background-color: coral;
}
form {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background-color: gainsboro;
}
h1 {
  margin-bottom: 0;
}
.not-member {
  margin-top: 0;
  color: white;
}
a {
  color: black;
}
.sign-up {
  color: white;
}
body {
  margin: 0 auto;
  font-family: "Dongle", sans-serif;
  font-size: 18px;
}
.imput {
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  border: none;
}
.forgot-password {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  height: 35px;
  margin-right: 20px;
  width: 100px;
  background: chocolate;
  border-radius: 4px;
  color: white;
  border: none;
}
