body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(95, 95, 95);
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#menu-block {
  position: absolute;
  top: 30px;
  left: 15px;
}
#menu-block input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
footer {
  display: flex;
  align-items: center;
  margin: 0 50px;
}
footer p {
  color: white;
  font-size: 24px;
}
#inst {
  width: 20px;
  height: 20px;
  border: none;
  background: url(Vector.png);
  margin-left: 10px;
}
#menu-block span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 7px;
  z-index: 1;
}
main img {
  width: 33%;
  height: auto;
}
#menu {
  position: absolute;
  width: 250px;
  top: -25px;
  left: -10px;
  padding: 50px;
  padding-top: 50px;
  background: #e8e7e7;
  box-shadow: 5px 5px 15px -3px rgb(0 0 0 / 85%);
  border-radius: 7px;
  list-style-type: none;
  transform: none;
  transition: transform 0.5s;
}
#menu-block input:checked ~ ul {
  transform: translate(0, -120%);
}
#menu-block a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menu li {
  padding: 10px 5px;
  font-size: 22px;
}
.curve {
  width: 95%;
  height: 2px;
  background-color: cadetblue;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 50%;
  height: auto;
  padding: 10px;
}
